.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20rem;
    margin: 2rem auto;
    padding: 11px;
    max-width: 1000px;
    justify-content: space-around;
  
}

.flexItem {
    flex-grow: 1;
    margin-left: 5px;
    padding: 11px;
}

    .flexItem:first-child {
        margin: 0;
    }

.flexItem--3 {
  flex-grow:5;
}
.flexItem--4 {
    flex-basis: 350px;
}

.flexItem--5 {
    align-self:stretch;

}